/* navbar color = #88304e */
body {
    background-color: #311D3F;
}
h1 {
    text-align: center;
    color: #e23e57;
}
img{
    width: 50%;
}
.textstyle{
    color: #e23e57;
    word-wrap    : break-word;
    overflow-wrap: break-word;
}
.btn {
    background-color: #a1234d;
}
.btn:hover{
    background-color: #88304e;
}
.container {
    background-color: #522546;
    width: 70%;
}
#mapid { height: 380px; }
